.titulo {
  color: var(--segundo-color);
  font-size: 3rem;
  position: absolute;
  top: 5rem;
  text-align: center;
  width: 100%;
}
.inversiones {
  display: grid;
  gap: 1rem;
  width: 60%;
  height: auto;
  text-align: center;
}

.inversion {
  background-color: #ff6868;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primer-color);
  font-size: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.inversion:hover {
  background-color: var(--segundo-color);
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 768px) {
  .home-seccion {
    gap: 1rem;
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .boton-continuar {
    padding: 0.75rem;
    font-size: 0.875rem;
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 640px) {
  .inversiones {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .boton-continuar {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}
