<div class="contenedor-formulario">
  <div class="datos">
    <h3 class="nombre-inversion">{{ inversionActual?.nombre }}</h3>
    <p class="nombre-cliente">
      {{ inversionActual?.cliente?.nombre }}
      {{ inversionActual?.cliente?.apellidos }}
    </p>
    <p class="monto-disponible">
      Monto disponible: ${{ inversionActual?.cuenta?.monto }}
    </p>
  </div>

  <form
    (submit)="enviarMontoPlazo($event)"
    [formGroup]="formulario"
    class="formulario"
  >
    <div class="grupo-formulario">
      <label for="monto" class="etiqueta">Monto a invertir:</label>
      <input
        type="number"
        id="monto"
        name="monto"
        formControlName="monto"
        required
        min="0"
        max="1000000000000000000"
        class="campo"
      />
    </div>

    <div class="grupo-formulario">
      <label for="plazo" class="etiqueta">Plazo (anual):</label>
      <select
        name="plazo"
        formControlName="plazo"
        id="plazo"
        required
        class="campo"
      >
        <option [value]="1">1 año</option>
        <option [value]="2">2 años</option>
        <option [value]="3">3 años</option>
      </select>
    </div>

    <button type="submit" class="boton-continuar">Continuar</button>
  </form>
</div>
