<div class="resumen-contenedor">
  <h2 class="titulo-resumen">Resumen de Inversión</h2>

  <div class="dato">
    <span class="label">Nombre:</span>
    <span class="valor">{{ inversionActual?.cliente?.nombre }}</span>
  </div>
  <div class="dato">
    <span class="label">Apellidos:</span>
    <span class="valor">{{ inversionActual?.cliente?.apellidos }}</span>
  </div>
  <div class="dato">
    <span class="label">Monto disponible en cuenta:</span>
    <span class="valor" data-color="verde"
      ><b>${{ inversionActual?.cuenta?.monto }}</b></span
    >
  </div>
  <div class="dato">
    <span class="label">Inversión en:</span>
    <span class="valor">{{ inversionActual?.nombre }}</span>
  </div>
  <div class="dato">
    <span class="label">Contrato:</span>
    <span class="valor">{{
      inversionActual?.cuenta?.contrato?.tipoContrato
    }}</span>
  </div>
  <div class="dato">
    <span class="label">Monto invertido:</span>
    <span class="valor" data-color="verde"
      ><b>${{ inversionActual?.monto }}</b></span
    >
  </div>
  <div class="dato">
    <span class="label">Plazo en años:</span>
    <span class="valor"
      ><b>{{ inversionActual?.plazo }}</b></span
    >
  </div>
  <div class="dato">
    <span class="label">Tasa ofrecida:</span>
    <span class="valor"
      ><b>{{ inversionActual?.tasa }}%</b></span
    >
  </div>
  <div class="dato">
    <span class="label">Rendimiento esperado:</span>
    <span class="valor"
      ><b>${{ inversionActual?.rendimiento }}</b></span
    >
  </div>

  <button class="continuar" (click)="continuar()">Continuar compra</button>
  <button class="continuar" (click)="regresar()">Cancelar compra</button>
</div>
