<section class="home-seccion">
  <div class="titulo-contenedor">
    <h1 class="titulo">Catálogo de inversiones:</h1>
  </div>
  <div class="contenedor-inversiones">
    <div class="inversiones" *ngFor="let inversion of inversionesDisponibles">
      <div
        class="inversion"
        [routerLink]="[
          '/vistaSeleccion',
          clienteServicio.cuentaSeleccionada?.idCuenta,
          inversion.idInversion
        ]"
        (click)="obtenerInversionActual(inversion.idInversion)"
      >
        <p>{{ inversion.nombre }}</p>
      </div>
    </div>
  </div>
</section>
